  <br></br>
<h2 class="text-center">Add a New Idea</h2>

<h4 class="text-center">
  <form action="/create_idea">
    <p>
      <input type="text" name="title" placeholder="Title of Idea">
    </p>

    <p>
       <input type="text" name="date" placeholder="Date">
    </p>
  
    <p>
      <input type="text" name="content" placeholder="Idea">
    </p>
  
    <p>
      <input type="text" name="picture" placeholder="Optional Picture">
    </p> 

    <p>
      <input type="submit">
    </p>
  </form>
</h4>